{{ partial "header.html" . }}

{{if not .IsHome }}
  {{$title := lower .Title}}
  {{$title := i18n $title}}
  {{ if eq $title ""}}
    <h1>{{ .Title }}</h1>
  {{ else }}
    <h1>{{ $title }}</h1>
  {{ end }}
{{ end }}

{{ .Content }}

{{if not .IsHome }}
  <ul>
    {{ range (where .Data.Pages "Section" "!=" "") }}
    <li>
      <span class="date">{{ .Date.Format "2006/01/02" }}</span>
      <a href="{{ .URL }}">{{ .Title }}</a>
      <br>
      {{.Description}}
    </li>
    {{ end }}
  </ul>
{{else}}
  <ul>
    {{ range first 5 (where .Data.Pages "Section" "!=" "") }}
    <li>
      <span class="date">{{ .Date.Format "2006/01/02" }}</span>
      <a href="{{ .URL }}">{{ .Title }}</a>
      <br>
      {{ .Description }}
    </li>
    {{ end }}
  </ul>
{{ end }}

{{ partial "footer.html" . }}
