body {
    background: var(--background-color);
    color: var(--text-color);
}
a {
    color: var(--accent-color);
}
thead, tfoot, tr:nth-child(even), pre, code, kbd {
    background: var(--alt-background-color);
}
a:focus, a:hover {
    background: var(--accent-color);
    color: var(--background-color);
}
input, textarea {
    background: var(--alt-background-color);
    color: var(--text-color);
}
::placeholder {
    color: var(--text-color);
}
