body {
    font-family: sans-serif;
}
textarea {
    resize: vertical;
    min-height: 4em;
    width: 100%;
    box-sizing: border-box;
}
article {
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 1px dotted;
}
