body {
    font-family: sans-serif;
}

a:focus, a:hover {
    background: var(--accent-color);
    color: var(--background-color);
}

input, textarea {
    color: var(--text-color);
    background: var(--alt-background-color);
    border: 0;
    padding: 5px;
    border-radius: 0;
}

textarea {
    resize:vertical;
    min-height:4em;
    width:100%;
    box-sizing:border-box;
}

::placeholder {
    color: var(--text-color);
}
