body {
    font-family: sans-serif;
}
input, textarea {
    padding: 5px;
    margin: 0.5em 0 1em 0;
}
textarea {
    resize: vertical;
    min-height: 4em;
    width: 100%;
    box-sizing: border-box;
}
header h1 {
    font-size: 180%;
}
header h1, header h3 {
    margin-bottom: 0.1em;
}
header nav {
    font-size: 90%;
}
header {
    margin-bottom: 1em;
}
article article {
    border-top: 1px solid;
    margin-bottom: 1em;
}
{{ partial "css/color.css" . | safeCSS }}
:root {
    --background-color: #dcc;
    --alt-background-color: #baa;
    --accent-color: #455;
    --text-color: #233;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #233;
        --alt-background-color: #455;
        --accent-color: #baa;
        --text-color: #dcc;
    }
}
