<!-- Sperate from main body -->
<hr />

<!-- Isso support -->
<script data-isso="/isso/"
        data-isso-css="false"
        data-isso-lang={{ .Site.Language }}
        data-isso-reply-to-self="false"
        data-isso-require-author="true"
        data-isso-require-email="true"
        data-isso-max-comments-top="10"
        data-isso-max-comments-nested="5"
        data-isso-reveal-on-click="5"
        data-isso-avatar="true"
        data-isso-avatar-bg="#ffffff"
        data-isso-avatar-fg="#710100"
        data-isso-vote="false"
        data-vote-levels=""
        src="/isso/js/embed.min.js"></script>
<section id="isso-thread"></section>
