<!-- favicon settings -->
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?v=pgqKMwjGgo">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v=pgqKMwjGgo">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v=pgqKMwjGgo">
<link rel="manifest" href="/favicon/manifest.json?v=pgqKMwjGgo">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg?v=pgqKMwjGgo" color="#700000">
<link rel="shortcut icon" href="/favicon/favicon.ico?v=pgqKMwjGgo">
<meta name="apple-mobile-web-app-title" content="Library of Trantor">
<meta name="application-name" content="Library of Trantor">
<meta name="msapplication-config" content="/favicon/browserconfig.xml?v=pgqKMwjGgo">
<meta name="theme-color" content="#707070">
<!-- Translate titles -->
{{$title := i18n (lower .Title)}}
{{ if eq $title ""}}
  <title>{{ .Title }} | {{ .Site.Title }}</title>
{{ else }}
  <title>{{ $title }} | {{ .Site.Title }}</title>
{{ end }}
