<!-- favicon settings -->
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?v=xQzOP7B4B2">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v=xQzOP7B4B2">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v=xQzOP7B4B2">
<link rel="manifest" href="/favicon/manifest.json?v=xQzOP7B4B2">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg?v=xQzOP7B4B2" color="#710100">
<link rel="shortcut icon" href="/favicon/favicon.ico?v=xQzOP7B4B2">
<meta name="msapplication-config" content="/favicon/browserconfig.xml?v=xQzOP7B4B2">
<meta name="theme-color" content="#ffffff">
<!-- Translate titles -->
{{$title := i18n .Title}}
{{ if eq $title ""}}
  <title>{{ .Title }} | {{ .Site.Title }}</title>
{{ else }}
  <title>{{ $title }} | {{ .Site.Title }}</title>
{{ end }}